<div class="listings">
  <div class="listings_channels">
    <h2>User info</h2>
    <ul class="channel_list">
      <th>name</th>
      <th><%= user.name%></th>
      <th>introduction</th>
      <th><%= introduction%></th>
      <%= button_to <i class="fa-solid fa-user-gear"></i> ,edit_user_path %>
    </ul>
  </div>
</div>